.main-wrapper {
	display: flex;
	padding: 10vw 10vw;
	justify-content: space-between;
}
.why {
	height: auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
}
.why h2::before {
	content: "";
	width: 68px;
	height: 4px;
	background: #4d270c;
	border-radius: 77px;
	position: absolute;
	top: -16px;
}
.why h2 {
	max-width: 430px;
	font-family: "Montserrat";
	font-style: normal;
	font-weight: 700;
	font-size: 48px;
	line-height: 59px;

	color: #291507;
	position: relative;
}
.why p {
	font-family: "Montserrat";
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	line-height: 22px;

	color: #291507;
	max-width: 448px;
	margin-top: 44px;
}
.why .read-more {
	font-family: "Montserrat";
	font-weight: 700;
	font-size: 18px;
	line-height: 22px;
	/* identical to box height */

	text-align: right;

	color: rgba(41, 21, 7, 0.6);
	margin-right: 30px;
	margin-top: 65px;
}
.read-more::after {
	content: "";
	width: 20px;
	height: 20px;
	margin-left: 10px;
	background-image: url("/arrow_right_brown.svg");
	background-position: right;
	position: absolute;
}
.photo-grid {
	margin-top: 0px;
	width: 50%;
	display: flex;
	align-items: flex-start;
	position: relative;
	column-gap: 25px;
}
.photo-grid img {
	object-fit: contain;
	position: relative;
	max-width: 273px;
	max-height: 385px;
}
.col-1,
.col-2 {
	position: relative;
	display: flex;
	flex-direction: column;
}
.col-1 {
	align-items: flex-end;
	row-gap: 25px;
}
.col-1 img {
	margin-top: 0;
	margin-right: 0;
	max-height: 293px;
}
